<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Viajes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="bg-light">
 <header>

        <div th:replace="~{layout :: header}"></div>
 </header>

<div class="container mt-4">

    <h2 class="mb-4 text-center">Listado de Viajes</h2>

    <div th:if="${correcto}" class="alert alert-success" th:text="${correcto}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div class="table-responsive card p-3 shadow">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Vehículo</th>
                    <th>Tipo de viaje</th>
                    <th>Costo</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="v : ${lista}">
                    <td th:text="${v.viajeId}"></td>
                    <td th:text="${v.usuario.nombre}"></td>
                    <td th:text="${v.vehiculo.marca + ' ' + v.vehiculo.modelo}"></td>
                    <td th:text="${v.tipoViaje}"></td>
                    <td th:text="${v.costo}"></td>
                    <td th:text="${v.fecha}"></td>
                    <td>
                        <a th:href="@{/modificarViaje/{id}(id=${v.viajeId})}" class="btn btn-sm btn-warning">Modificar</a>
                        <a th:href="@{/eliminarViaje/{id}(id=${v.viajeId})}" class="btn btn-sm btn-danger"
                           onclick="return confirm('¿Eliminar viaje?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="text-center mt-3">
        <a href="/viaje" class="btn btn-success">Nuevo Viaje</a>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>
</html>