<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEHICULOS</title>
</head>

<body>
    <h1> DATOS DEL VEHICULO </h1>

    <form data-th-object="${nuevoVehiculo}"
          data-th-action="${band}?@{/modificarVehiculo}:@{/guardarVehiculo}"
          method="post"
          enctype="multipart/form-data">

        <label>vehiculoId</label>
        <input type="text" placeholder="ingresar id del vehiculo"
               data-th-field="*{vehiculoId}" required
               data-th-readonly="${band}" />

        <label>Patente</label>
        <input type="text" placeholder="ingresar patente"
               data-th-field="*{patente}" minlength="5" maxlength="20" />

        <label>Marca</label>
        <input type="text" placeholder="ingresar marca"
               data-th-field="*{marca}" />

        <label>Modelo</label>
        <input type="text" placeholder="ingresar modelo"
               data-th-field="*{modelo}" />


        <label>Estado</label>
        <select data-th-field="*{estado}">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

        <button type="submit" th:text="${band} ? 'Modificar' : 'Ingresar' " ></button>

    </form>
</body>

</html>