<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>INGRESAR VIAJE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="bg-light">
 <header>

        <div th:replace="~{layout :: header}"></div>
 </header>
<div class="container mt-4">
    <h2 class="mb-4 text-center">INGRESAR VIAJE</h2>

    <form data-th-action="${band} ? @{/modificarViaje} : @{/guardarViaje}" data-th-object="${nuevoViaje}" method="post" class="card p-4 shadow">




<input type="hidden" th:if="${nuevoViaje.viajeId != null}" th:field="*{viajeId}" />


        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <select class="form-select" th:field="*{usuario.dni}" required>
                <option value="">Seleccione un usuario</option>
                <option th:each="u : ${usuarios}" th:value="${u.dni}" th:text="${u.nombre}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Vehículo</label>
            <select class="form-select" th:field="*{vehiculo.vehiculoId}" required>
                <option value="">Seleccione un vehículo</option>
                <option th:each="v : ${vehiculos}" th:value="${v.vehiculoId}" 
                        th:text="${v.marca + ' ' + v.modelo}">
                </option>
            </select>
        </div>

       
        <div class="mb-3">
            <label class="form-label">Tipo de Viaje</label>
            <select class="form-select" th:field="*{tipoViaje}" required>
                <option value="">Seleccione tipo de viaje</option>
                <option value="CORTA">Corta distancia</option>
                <option value="MEDIA">Media distancia</option>
                <option value="LARGA">Larga distancia</option>
            </select>
        </div>

       
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Guardar Viaje</button>
        </div>

    </form>

    <div class="text-center mt-3">
        <a href="/listarViajes" class="btn btn-secondary">Volver al listado</a>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>
</html>